.sub-story {
  height: 200px;
  margin: 10px 0;
  border: 1px solid #e5e5e5;
  background-color: #fff;

  .sub-story-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;

    .grayfont {
      display: flex;
      align-items: center;
      color: #9f9f9f;
      font-size: 12px;
    }

    .sub-more {
      border: 0px;
      background-color: #fff;
      font-size: 12px;
    }
  }

  .sub-story-list {
    height: 160px;
    overflow: hidden;

    .user {
      display: flex;
      position: relative;
      align-items: center;
      height: 35px;
      padding: 0 10px;

      .photo {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        border-radius: 50%;
      }

      .name-time {
        .nickName {
          font-size: 12px;
        }

        .upload-time {
          color: #9f9f9f;
          font-size: 8px;
        }
      }
    }
  }
}
