@import '/src/styles/variables';

.main {
  padding-top: 70px;

  .nav-container {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;

    .nav-box {
      display: flex;
      justify-content: space-between;
      width: 800px;
      height: 70px;
      margin: 0 auto;
      padding: 20px;

      .nav-left {
        display: flex;
        align-items: center;
        justify-content: center;

        .nav-icon {
          width: 24px;
        }

        .feed-logo {
          margin-left: 15px;
          padding-left: 15px;
          border-left: 1px solid black;
          font-size: 24px;
        }
      }

      .nav-search {
        width: 200px;
        height: 25px;
        margin-top: 2px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        background-color: #f5f5f5;
        font-size: 12px;
        text-align: center;
      }

      .nav-right {
        display: flex;
        justify-content: space-between;
        width: 100px;
        padding: 5px 0;

        .search-btn {
          border: 0px;
          background-color: #fff;

          .search-icon {
            width: 21px;
          }
        }
        .heart-btn {
          border: 0px;
          background-color: #fff;

          .heart-icon {
            width: 21px;
          }
        }
        .mypage-btn {
          border: 0px;
          background-color: #fff;

          .mypage-icon {
            width: 21px;
          }
        }
      }
    }
  }
}

.main-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 40px;

  .article-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 20px;
  }
}
