* {
  position: relative;
  box-sizing: border-box;
  border-radius: 7px;
  text-align: center;
}

.login {
  position: relative;
  width: 350px;
  height: 500px;
  margin-top: 20px;
  border-width: thin;
  border-style: solid;
  border-color: gray;

  .inputwrap {
    margin-top: 5px;
  }

  .user,
  .password {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 35px;
    margin: 5px;
    margin-left: 25px;
    border-width: thin;
    border-radius: 5px;
    border-color: gray;
    text-align: left;
  }
}

.loginbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 25px;
  margin: auto;
  margin-top: 12px;
  border: none;
  border-radius: 5px;
  background-color: rgb(69, 142, 255);
  color: white;
  cursor: pointer;
}

a {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-decoration: none;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 100px;
  background-color: white;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  text-align: center;
}
